header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 80px;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 20px $gray;
}

.wbooks-logo {
  height: 50px;
  margin: 15px auto 15px 50px;
  cursor: pointer;
}

.notifications-icon {
  width: 30px;
  margin: 15px;
  cursor: pointer;
}

.sugestions-icon {
  width: 30px;
  margin: 15px;
  cursor: pointer;
}

.user-icon {
  width: 40px;
  height: 40px;
  background-color: $green;
  border-radius: 50%;
  margin: 15px 50px 15px 15px;
  cursor: pointer;
}

.menu-bar {
  padding: 0;
}

.menu-content-user {
  padding: 0;
}

.user-menu-item {
  height: 36px;
  min-height: 0;
  overflow: hidden;
  min-width: 160px;
}

.md-button:not([disabled]).user-menu-button.md-focused,
.md-button:not([disabled]).user-menu-button:hover {
  background: $transparent-blue;
}

md-menu-item>.user-menu-button {
  font-size: 14px;
  font-family: 'Roboto-Regular';
}

.notifications-menu-item {
  height: auto;
  border-bottom: 1px solid $some-gray;
}

.notifications-menu-item:last-child {
  border-bottom: 0;
}

.notification-image {
  width: 56px;
  height: 80px;
  margin: 14px;
  border: 0;
}

.notification-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  height: 100%;
  padding: 0;
  margin: 14px 0;
  font-family: 'Roboto-Regular';
}

.notification-description {
  margin: 2px 0;
}

.notification-title {
  margin: 2px 0;
}

.notification-author {
  font-size: 12px;
  color: $other-obscure-gray;
  margin: 2px 0;
}

.notification-alert {
  font-size: 12px;
  color: $error-red;
}
