.filter {
  appearance: none;
  background: linear-gradient(55deg, transparent 50%, $gray 50%), linear-gradient(125deg, $gray 50%, transparent 50%);
  background-color: $light-gray;
  background-position: calc(100% - 19px) calc(1em + 2px), calc(100% - 13px) calc(1em + 2px), 100% 0;
  background-repeat: no-repeat;
  background-size: 7px 11px, 7px 11px;
  border: 0;
  color: $gray;
  height: 38px;
  margin-right: 28px;
  padding: 12px;
  width: 238px;
}

.search-form {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.search-inp {
  background-color: $light-gray;
  border: 0;
  height: 38px;
  margin: 0;
  padding: 0 12px;
  width: 222px;
}

.search-btn {
  background: $light-green url('/assets/search.svg') no-repeat center;
  border: 0;
  height: 38px;
  width: 38px;
}

.book {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 128px;
}

.book-img {
  background: $some-gray url('/assets/default_book.svg') no-repeat center;
  background-size: 60% auto;
  height: 182px;
  width: 128px;
}

.book-title {
  margin: 11px 0 5px;
}
