.personalization
  select.filter(ng-model = 'booksCtrl.actualFilter' ng-change = 'booksCtrl.changeFilter(booksCtrl)')
    option(ng-repeat = 'act in booksCtrl.filters' value = '{{act.value}}' ng-disabled = '{{act.disabled}}' ng-hide = '{{act.disabled}}') {{act.name}}
  form.search-form(ng-submit = 'booksCtrl.submitSearch(booksCtrl)')
    input.search-inp(ng-model = 'booksCtrl.textInput' placeholder = '{{booksCtrl.placeholderSearch}}')
    input.search-btn(type = 'submit' value = '')
.books
  .book(ng-repeat = 'act in booksCtrl.books')
    img.book-img(ng-src = '{{act.image_url}}' alt = '' ui-sref = 'info({id: act.id})')
    b.book-tit {{act.title}}
    a.book-auth {{act.author}}
