
.book{
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 128px;
}

.book-img{
    width: 128px;
    height: 182px;
    background: $some-gray url('/assets/default_book.svg') no-repeat center;
}

.book-tit{
    margin: 11px 0 5px 0;
}
