form.register-form(name = 'registerForm' ng-submit = 'registerForm.$valid && regCtrl.sendRegistration()' novalidate)
  img.new-book-img(ng-src = '../assets/add_book.svg' alt = '')
  h4.register-title
    | {{ 'REGISTER' | translate }}
  .name
    span.form-label
      | {{ 'NAME' | translate }}
    input.form-input(type = 'text' name = 'name' ng-model = 'regCtrl.name' ng-pattern = '/^[a-zA-Z]*$/' required)
    ng-messages.error(for = 'registerForm.name.$error' role = 'alert')
      ng-message(when = 'pattern')
        | {{ 'WRONG_NAME' | translate }}
  .surname
    span.form-label
      | {{ 'SURNAME' | translate }}
    input.form-input(type = 'text' name = 'surname' ng-model = 'regCtrl.surname' ng-pattern = '/^[a-zA-Z]*$/' required)
    ng-messages.error(for = 'registerForm.surname.$error' role = 'alert')
      ng-message(when = 'pattern')
        | {{ 'WRONG_SURNAME' | translate }}
  .password
    span.form-label
      | {{ 'PASSWORD' | translate }}
    input.form-input(type = 'password' name = 'pass' ng-model = 'regCtrl.pass' ng-minlength = '8' ng-maxlength = '52' ng-pattern = '/([0-9].*[a-zA-Z])|([a-zA-Z].*[0-9])/' required)
    ng-messages.error(for = 'registerForm.pass.$error' role = 'alert')
      ng-message(when = 'pattern')
        | {{ 'WRONG_PASSWORD' | translate }}
      ng-message(when = 'minlength')
        | {{ 'SHORT_PASSWORD' | translate }}
      ng-message(when = 'maxlength')
        | {{ 'LONG_PASSWORD' | translate }}
  .email
    span.form-label
      | {{ 'EMAIL' | translate }}
    input.form-input(type = 'email' name = 'email' ng-model = 'regCtrl.email' required)
    ng-messages.error(for = 'registerForm.email.$error' role = 'alert')
      ng-message(when = 'email')
        | {{ 'WRONG_EMAIL' | translate }}
  .send-cancel
    button.cancel(ng-click = 'closeThisDialog()')
      | {{ 'CANCEL' | translate }}
    input.send(type = 'submit' name = 'submit' ng-model = 'regCtrl.email' value = "{{ 'ACCEPT' | translate }}")
