form.register-form(ng-action = 'regCtrl.sendRegistration()')
  img.new-book-img(ng-src = '../assets/add_book.svg' alt = '')
  h4.register-title
    | Registrarse
  .name
    span.form-label
      | Nombre
    input.form-input(type = 'text' name = 'name')
  .surname
    span.form-label
      | Apellido
    input.form-input(type = 'text' name = 'surname')
  .email
    span.form-label
      | Email
    input.form-input(type = 'text' name = 'email')
  .passwords
    .password
      span.form-label
        | Contrase&ntilde;a
      input.form-input(type = 'password' name = 'pass')
    .second-password
      span.form-label
        | Vuelva a introducir la contrase&ntilde;a
      input.form-input(type = 'password' name = 'pass')
  .send-cancel
    button.send-cancel-button.cancel
      | Cancelar
    button.send-cancel-button.send
      | Aceptar
