form.login-form(name = 'loginForm' ng-submit = 'loginForm.$valid && logCtrl.sendLogin(logCtrl)' novalidate)
  img.new-book-img(ng-src = '../assets/add_book.svg' alt = '')
  h4.login-title
    | {{ 'LOGIN' | translate }}
  span.error {{logCtrl.error}}
  .email
    span.form-label
      | {{ 'EMAIL' | translate }}
    input.form-input(type = 'email' name = 'email' ng-model = 'logCtrl.email' required)
    ng-messages.error(for = 'loginForm.email.$error' role = 'alert')
      ng-message(when = 'email')
        | {{ 'WRONG_EMAIL' | translate }}
  .password
    span.form-label
      | {{ 'PASSWORD' | translate }}
    input.form-input(type = 'password' name = 'pass' ng-model = 'logCtrl.pass' ng-minlength = '8' ng-maxlength = '52' required)
    ng-messages.error(for = 'loginForm.pass.$error' role = 'alert')
      ng-message(when = 'pattern')
        | {{ 'WRONG_PASSWORD' | translate }}
      ng-message(when = 'minlength')
        | {{ 'SHORT_PASSWORD' | translate }}
      ng-message(when = 'maxlength')
        | {{ 'LONG_PASSWORD' | translate }}
  .send-cancel
    button.cancel(ng-click = 'closeThisDialog()')
      | {{ 'CANCEL' | translate }}
    input.send(type = 'submit' name = 'submit' value = "{{ 'ACCEPT' | translate }}")
