.return {
  left: 34px;
  position: absolute;
  top: 110px;
}

.description {
  border-bottom: 3px solid $sky-blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 36px 0;
  width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.bigger-image {
  height: 272px;
  margin-right: 21px;
  width: 191px;
}

.shorter-image {
  height: 124px;
  margin: 16px 27px 31px;
  width: 87px;
}

.book-tit {
  font-size: 20px;
}

.book-auth,
.book-year,
.book-genre {
  font-size: 16px;
}

.book-desc {
  color: $translucent-gray;
}

.rent-button {
  background-color: $sky-blue;
  border: 0;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  height: 38px;
  width: 192px;
}

.rent-button:disabled {
  background-color: $gray;
}

.sugestions {
  border-bottom: 3px solid $sky-blue;
  width: 100%;
}

.subtitle {
  color: $light-green;
}

.sugestions-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.comments {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comments-title {
  align-self: flex-start;
}

.new-comment-input {
  height: 75px;
  margin: 15px 0;
  width: 100%;
}

.send-new-comment {
  background-color: $light-green;
  border: 0;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  height: 38px;
  width: 192px;
  cursor: pointer;
  ::disabled {
    background-color: $gray;
  }
}

.comment {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  width: 80%;
}

.loaded-comments {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: 0;
}

.comment-img {
  align-self: flex-start;
  background-color: $green;
  border-radius: 50%;
  height: 40px;
  margin: 0 8px;
  width: 40px;
}

.comment-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.comment-name {
  font-size: 14px;
}

.comment-date {
  color: $other-obscure-gray;
  font-size: 12px;
  margin: 8px 0;
}

.comment-desc {
  color: $translucent-gray;
}
