a.return(ui-sref = 'home')
  | < {{ 'RETURN' | translate }}
.description
  div
    img.book-img.bigger-image(ng-src = '{{infoCtrl.book.image_url}}' alt = '')
  .information
    b.book-tit
      | {{infoCtrl.book.title}}
    a.book-auth
      | {{infoCtrl.book.author}}
    a.book-year
      | {{infoCtrl.book.year}}
    a.book-genre
      | {{infoCtrl.book.genre}}
    p.book-desc
      | {{infoCtrl.book.description}}
    button.rent-button(ng-disabled = 'infoCtrl.rentButton.disabled' ng-click = 'infoCtrl.rentButton.onclick()')
      | {{ infoCtrl.rentButton.text | translate }}
    ng-messages.error(for = 'infoCtrl.rentButton.error' role = 'alert')
      ng-message(when = 'ya_esta_en_uso')
        | {{ 'ALREADY_WISHLIST' | translate }}
      ng-message(when = 'success')
        | {{ 'SUCCESFULLY_ADDED' | translate }}
.sugestions
  h2.subtitle
    | {{ 'SUGESTIONS' | translate }}
  .sugestions-list
    img.book-img.shorter-image(ng-repeat = 'book in infoCtrl.sugestions' ng-src = '{{book.image_url}}' alt = '')
.comments
  h2.subtitle.comments-title
    | {{ 'COMMENTS' | translate }}
  .comment.new-comment
    img.comment-img(ng-src = '{{infoCtrl.user.image}}' alt = '')
    .comment-data
      b.comment-name
        | {{ 'ADD_COMMENT' | translate }}
      textarea.new-comment-input(ng-model = 'infoCtrl.newCommentInput')
      button.send-new-comment(ng-click = 'infoCtrl.addComment(infoCtrl)')
        | {{ 'SEND' | translate }}
  .loaded-comments
    .comment(ng-repeat = 'comment in infoCtrl.comments')
      img.comment-img(ng-src = '{{comment.image_url}}' alt = '')
      .comment-data
        b.comment-name
          | {{comment.name}}
        span.comment-date
          | {{comment.date}}
        p.comment-desc
          | {{comment.description}}
