a.return(ui-sref = 'home')
  | < {{ 'RETURN' | translate }}
.description
  div
    img.book-img.bigger-image(ng-src = '{{infoCtrl.book.image_url}}' alt = '')
  .information
    b.book-tit
      | {{infoCtrl.book.title}}
    a.book-auth
      | {{infoCtrl.book.author}}
    a.book-year
      | {{infoCtrl.book.year}}
    a.book-genre
      | {{infoCtrl.book.genre}}
    p.book-desc
      | {{infoCtrl.book.description}}
    button.rent-button(ng-disabled = 'infoCtrl.rentButton.disabled' ng-click = 'infoCtrl.rentButton.onclick()')
      | {{ infoCtrl.rentButton.text | translate }}
    ng-messages.error(for = 'infoCtrl.rentButton.error' role = 'alert')
      ng-message(when = 'ya_esta_en_uso')
        | {{ 'ALREADY_WISHLIST' | translate }}
      ng-message(when = 'success')
        | {{ 'SUCCESFULLY_ADDED' | translate }}
.sugestions
  h2.subtitle
    | {{ 'SUGESTIONS' | translate }}
  .sugestions-list
    img.book-img.shorter-image(ng-repeat = 'book in infoCtrl.sugestions' ng-src = '{{book.image_url}}' alt = '')
.comments
  h2.subtitle.comments-title
    | {{ 'COMMENTS' | translate }}
  form.comment.new-comment(name='commentForm' ng-submit='commentForm.$valid && infoCtrl.addComment(infoCtrl)' novalidate)
    img.comment-img(ng-src = '{{infoCtrl.user.image}}' alt = '')
    .comment-data
      b.comment-name
        | {{ 'ADD_COMMENT' | translate }}
      textarea.new-comment-input(name='content' ng-model = 'infoCtrl.newCommentInput' ng-maxlength = '255' required)
      ng-messages.error(for = 'commentForm.content.$error' role = 'alert')
        ng-message(when = 'maxlength')
          | {{ 'MAX_CHARS' | translate }}
      input.send-new-comment(ng-disabled='!commentForm.$valid' type='submit' name='submit' value="{{ 'SEND' | translate }}")
  ol.loaded-comments
    li.comment(ng-repeat = 'comment in infoCtrl.comments | limitTo: -4')
      img.comment-img(ng-src = '{{comment.user.image_url}}' alt = '')
      .comment-data
        b.comment-name
          | {{comment.user.first_name}} {{comment.user.last_name}}
        span.comment-date
          | {{infoCtrl.getDate(comment.created_at)}}
        p.comment-desc
          | {{comment.content}}
