doctype html
html(lang='en')
  head
    title title here
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
  body
    header
      .phone
        img(src='assets/phone.png')
      .separator
      .logo
        img(src='assets/tcg_logo.png')
    main
      .info
        img(src='assets/ic_list.png')
        h4 Keep track of your money
        b.description See all your debts and all your friends debts towards you.
      .info
        img(src='assets/ic_reminder.png')
        h4 Generate reminders
        b.description Get reminded of who owes you money or who you owe money to.
      .info
        img(src='assets/ic_safe.png')
        h4 No internet needed
        b.description All your debts are kept safe in your phone.
    footer
      h3.updates-title Get info on new updates
      input.subscription-input(type="text")
      button.subscription-button Subscribe
    // inject:js
    // endinject
