@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-size: 0.75em;
  width: 60%;
}

.personalization {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  padding: 35px 0 30px 30px;
  width: 100%;
}

.books {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
