$wolox-green: #8DC63F;
$wolox-blue: rgba(85, 164, 218, 0.7);
$translucent-white: rgba(255, 255, 255, 0.9);
$light-gray: #F4F4F4;
$gray: #9B9B9B;
$light-green: #A5CD39;
$some-gray: #D8D8D8;
$sky-blue: #00ADEE;
$translucent-gray: #999;
$other-obscure-gray: #4A4A4A;
$white: #FFF;
$black: #000;
$green: rgb(0, 128, 0);
$model-background: rgba($color: $black, $alpha: 0.7);
$mid-gray: #CCC;
$error-red: #FF233E;
